<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
 <title>Home Page</title>  
</head>
<body>
    <div id="content">
    <h1> Welcome to Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quae, eius nam fugiat ut aliquid facilis enim repellat, sint cumque soluta voluptatibus pariatur? Id maiores molestias dolores quaerat mollitia commodi.</p>
    </div>

    <script>console.log("home page")</script>
</body>
</html>